@{
    @model KE03_INTDEV_SE_2_Base.Models.HomeViewModel

    ViewData["Title"] = "Home Page";
}
<div class="HomeContainer">
    <div class="row">
        <div class="col-12 col-lg-6">
            <h3>Producten met lage voorraad</h3>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Product naam</th>
                        <th>Voorraad</th>
                        <th></th>
                    
                    </tr>
                </thead>
                <tbody>
                    @if(Model != null && Model.Products.Any())
                    {
                        @foreach(var product in Model.Products)
                        {
                            <tr>    
                                <td>@product.ProductCode</td>
                                <td>@product.Name</td>
                                <td>
                                    @if (product.Stock == null)
                                    {
                                        <text>Geen voorraad ingevoerd</text>
                                    }
                                    else
                                    {
                                        @product.Stock
                                    }
                                </td>
                                <td> <a class="btn btn-outline-primary rounded-pill" asp-controller="Products" asp-action="Edit" asp-route-id="@product.Id">Edit</a> </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="3" class="text-center">Geen producten met lage voorraad</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="col-12 col-lg-6">
            <h3>Recente orders</h3>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Datum</th>
                        <th>Klant</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.Orders.Any())
                    {
                        @foreach(var order in Model.Orders)
                        {
                            <tr>
                                <td>#@order.Id</td>
                                <td>@order.OrderDate.ToString("dd-MM-yyyy")</td>
                                <td>@order.Customer.Name</td>
                                <td> <a class="btn btn-outline-primary rounded-pill" asp-controller="Orders" asp-action="Edit" asp-route-id="@order.Id">Edit</a> </td> 

                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="3" class="text-center">Geen orders beschikbaar</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>