@model DataAccessLayer.ViewModel.OrderViewModel

@{
    ViewData["Title"] = "Order bewerken";
}

<div class="h1 mb-3">Order #@Model.Id Bewerken</div>
<hr />

<form asp-action="Edit">
    <div asp-validation-summary="All" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label type = "date" class="control-label">Orderdatum</label>
                <input asp-for="OrderDate" class="form-control" max="@DateTime.Now.ToString("yyyy-MM-dd HH:mm")"  />
                <span asp-validation-for="OrderDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Customer</label>
                <select asp-for="CustomerId" class="form-control" asp-items="ViewBag.CustomerId"></select>
                <span asp-validation-for="CustomerId" class="text-danger"></span>
            </div>

             <div class="form-group">
                <label class="control-label">Shift: </label>
                <select class="form-control" name="Shifts" id="Country">
                    <option value="1">John Kremer - 2026/06/22</option>
                    <option value="2">Marie van Heggen - 2026/06/22</option>
                    <option value="3">Dick Fabelen - 2026/06/23</option>
                    <option value="4">John Kremer - 2026/06/23</option>
                </select>
            </div> 


            <div class="form-group">
                <label class="control-label">Orderstatus: </label>
                <select class="form-control" name="Status" id="Country">
                    <option value="1">Ontvangen</option>
                    <option value="2">Verwerkt</option>

                </select>
            </div>



            <label>Product</label>
            <div class="d-flex gap-2">
                <select id="productSelect" class="form-control">

                    @foreach (var product in ViewBag.Products)
                    {
                        <option value="@product.Id">
                            @product.Name (€@product.Price)
                        </option>
                    }

                </select>

                <button type="button"
                        id="addProductBtn"
                        class="btn btn-success">
                    Toevoegen
                </button>
            </div>
            <hr /> 
            <ul id="productList" class = "list-group-item">


                @for (int i = 0; i < Model.Products.Count; i++)

                {


                    var orderProduct = Model.Products[i];

                    var product =
                        ((IEnumerable<dynamic>)ViewBag.Products)
                        .FirstOrDefault(p => p.Id == orderProduct.ProductId);

                    if (product != null) {
                    <li id="product-@orderProduct.ProductId"
                        data-product-id="@orderProduct.ProductId"
                        class="list-group-item producten-in-order">
                            <input type="checkbox" > 
                        <div class="product-info">
                        <span>
                            @product.Name (€@product.Price)
                        </span>
                            </div>
                            <div class="product-actions">
                        <input type="number"
                               min="1"
                               value="@orderProduct.Quantity"
                               class="form-control quantity-input width-input"
                             />

                        <button type="button"
                                class="btn btn-danger btn-sm remove-product">
                            Verwijder
                        </button>
                        </div> 

                    </li>
                } }

            </ul>

            <div id="hiddenProductsContainer" >

                @for (int i = 0; i < Model.Products.Count; i++)
                {
                    <input type="hidden"
                           id="hidden-product-@Model.Products[i].ProductId"
                           name="Products[@i].ProductId"
                           value="@Model.Products[i].ProductId" />

                    <input type="hidden"
                           id="hidden-quantity-@Model.Products[i].ProductId"
                           name="Products[@i].Quantity"
                           value="@Model.Products[i].Quantity" />
                }

            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col">
            <a asp-action="Index" class="btn btn-secondary">Annuleren</a>
            <input type="submit" value="Opslaan" class="btn btn-primary ml-2" />
        </div>
    </div>
</form>





@section Scripts {
   

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    
}
