@model DataAccessLayer.Models.Product

@{
    ViewData["Title"] = "Product Details";
}

<link rel="stylesheet" href="~/css/productDetails.css" asp-append-version="true" />

<h1>Product Details</h1>
<hr />

<div class="productDetails">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label">Titel</label>
                <div class="form-control">
                    @Html.DisplayFor(model => model.Name)
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">Beschrijving</label>
                <div class="form-control">
                    @Html.DisplayFor(model => model.Description)
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">Stock</label>
                <div class="form-control">
                    @if (Model.Stock == null)
                    {
                        <text>Geen voorraad ingevoerd</text>
                    }
                    @Html.DisplayFor(model => model.Stock)
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">Product Code</label>
                <div class="form-control">
                    @Html.DisplayFor(model => model.ProductCode)
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">Categorie</label>
                <div class="form-control">
                    @Html.DisplayFor(model => model.Category.Description)
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="form-group">
                <label class="control-label">Prijs</label>
                <div class="form-control">
                        €@Html.DisplayFor(model => model.Price)
                </div>
            </div>
            <div class="form-group mt-3">
                <label class="control-label">Barcode</label>
                <div>
                    <img src="https://barcodeapi.org/api/39/@Model.ProductCode" />
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col">
            <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Bewerken</a>
            <a asp-action="Index" class="btn btn-secondary">Terug naar lijst</a>
        </div>
    </div>
</div>