@model IEnumerable<DataAccessLayer.Models.Shift>

@{
    ViewData["Title"] = "Index";
}

<div class="h1 mb-3">Shifts</div>

<div class="d-flex justify-content-between align-items-center mb-3 gap-3">
    <div>
        <input type="text" id="searchInput" class="form-control" placeholder="Zoek shift..."
               oninput="filterTable()" style="width:250px" />
    </div>
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">Sorteren</button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Oud->Nieuw</a></li>
            <li><a class="dropdown-item" href="#">Nieuw->Oud</a></li>
            <li><a class="dropdown-item" href="#"># Oplopend</a></li>
            <li><a class="dropdown-item" href="#"># Aflopend</a></li>
        </ul>
    </div>
    <div class="ms-auto">
        <a class="btn btn-primary" asp-action="Create">+ Shift toevoegen</a>
    </div>
</div>
<hr/>
    <table id="orderTable" class="table">
    <thead class="bg-secondary text-white">
        <tr>
            <th>
                <input type="checkbox" class="form-check-input" id="selectAll" />
            </th>
            <th>
                Shift#
            </th>
            <th>
                Datum
            </th>
            <th>
                Voertuig ID
            </th>
            <th>
                Koerier
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>  
                <td class="flex-grow-0">
                <input type="checkbox" class="form-check-input row-checkbox" />
            </td>
                <td class="flex-grow-0">
                #@Html.DisplayFor(modelItem => item.Id)
            </td>
                <td class="flex-grow-0">
                @Html.DisplayFor(modelItem => item.Date)
            </td>
                <td class="flex-grow-0">
                @Html.DisplayFor(modelItem => item.VehicleId)
            </td>
                <td class="flex-grow-0">
                @Html.DisplayFor(modelItem => item.Courier.Name)
            </td>
            <td class="flex-grow-0">
                    <a class="btn btn-primary rounded-3 px-2 py-0" asp-action="Edit" asp-route-id="@item.Id" title="Bewerk">
                        <i class="bi fs-4 bi-pencil"></i>
                    </a>
                    <a class="btn btn-info rounded-3 px-2 py-0" asp-action="Details" asp-route-id="@item.Id" title="Details">
                        <i class="bi fs-4 bi-eye"></i>
                    </a>
                    <a class="btn btn-danger rounded-3 px-2 py-0" asp-action="Delete" asp-route-id="@item.Id" title="Verwijderen">
                        <i class="bi fs-4 bi-trash"></i>
                    </a>
            </td>
        </tr>
}
    </tbody>
</table>

<script src="~/js/site.js"></script>
