@model IEnumerable<DataAccessLayer.Models.Shift>

@{
    ViewData["Title"] = "Index";
}

<h1>Shifts</h1>

<div class="d-flex justify-content-start">
    <div class="d-flex w-25">
        <input type="text" id="searchInput" class="form-control" oninput="filterTable()" placeholder="Zoeken op koerier">
    </div>
</div>
<div class="d-flex justify-content-end gap-2">
    <a class="btn btn-primary" asp-action="Create">Nieuw Shift</a>
    <div class="btn-group">
        <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" >Sorteren</button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Oud->Nieuw</a></li>
            <li><a class="dropdown-item" href="#">Nieuw->Oud</a></li>
            <li><a class="dropdown-item" href="#"># Oplopend</a></li>
            <li><a class="dropdown-item" href="#"># Aflopend</a></li>
        </ul>
    </div>
</div>
<hr/>
    <table id="orderTable" class="table">
    <thead class="bg-secondary text-white">
        <tr>
            <th>
                <input type="checkbox" class="form-check-input" id="selectAll" />
            </th>
            <th>
                Shift#
            </th>
            <th>
                Datum
            </th>
            <th>
                Voertuig ID
            </th>
            <th>
                Koerier
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>  
            <td>
                <input type="checkbox" class="form-check-input row-checkbox" />
            </td>
            <td>
                #@Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VehicleId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Courier.Name)
            </td>
            <td class="d-flex justify-content-between">
                <a class="btn btn-outline-primary rounded-pill" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                <a class="btn btn-outline-info rounded-pill" asp-action="Details" asp-route-id="@item.Id">Details</a>
                <a class="btn btn-outline-danger rounded-pill" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<script src="~/js/site.js"></script>
