@model IEnumerable<DataAccessLayer.Models.Category>

@{
    ViewData["Title"] = "Index";
}

@TempData["SuccessMessage"]

<h1>Categorieën</h1>

<div class="d-flex flex-row justify-content-between mt-3">
    <input type="text" class="form-control w-50" id="zoekterm" oninput="zoekbalk()" placeholder="Zoeken in categorieën" />
    <a asp-action="Create" class="btn btn-primary">+ Toevoegen</a>
</div>
<div class="mt-2">
<table class="table table-striped" id="categoryTable">
    <thead class="table-dark">
        <tr>
            <th>
                ID
            </th>
            <th>
                Naam
            </th>
            <th>
                Beschrijving
            </th>
            <th class="text-center">
                Aantal Producten
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.Id
            </td>
            <td>
                @item.Name
            </td>
            <td>
                @item.Description
            </td>
            <td class="text-center">
                @item.Products.Count
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger btn-sm">Verwijderen</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
<script src="~/js/site.js"></script>
