@model IEnumerable<DataAccessLayer.Models.Category>

@{
    ViewData["Title"] = "Index";
}

@if(TempData["SuccessMessage"] != null)
{
    <div class="border border-success bg-success p-2 w-25 text-center">
        @TempData["SuccessMessage"]
    </div>
}



<h1>Categorieën</h1>

<div class="d-flex flex-row justify-content-between mt-3">
    <div class="d-flex flex-row">
        <input type="text" class="form-control w-75" id="zoekterm" oninput="zoekbalk()" placeholder="Zoeken in categorieën" />
        <select name="cars" id="cars">
            <option value="Filter 1">Filter 1</option>
            <option value="Filter 2">Filter 2</option>
            <option value="Filter 3">Filter 3</option>
        </select>
    </div>
    <div>
        <a asp-action="Create" class="btn btn-primary">+ Toevoegen</a>
    </div>
</div>
<div class="mt-2">
<table class="table table-striped" id="categoryTable">
    <thead class="table-dark">
        <tr>
            <th>
                ID
            </th>
            <th>
                Naam
            </th>
            <th>
                Beschrijving
            </th>
            <th class="text-center">
                Aantal Producten
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.Id
            </td>
            <td>
                @item.Name
            </td>
            <td>
                @item.Description
            </td>
            <td class="text-center">
                @item.Products.Count
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger btn-sm">Verwijderen</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
<script src="~/js/site.js"></script>