@model IEnumerable<DataAccessLayer.Models.Category>

@{
    ViewData["Title"] = "Index";
}

<div class="d-flex justify-content-between">

    <div class="">
        <h1>Categorieën</h1>
    </div>

    <div class="w-25">
        @if(TempData["SuccessMessage"] != null)
        {
            <div class="border border-dark bg-success bg-opacity-50 p-2 text-center">
                @TempData["SuccessMessage"]
            </div>
        }

        else if(TempData["NoSuccessMessage"] != null)
        {
            <div class="border border-dark bg-danger bg-opacity-50 p-2 text-center">
                @TempData["NoSuccessMessage"]
            </div>
        }
    </div>  

    
</div>
<hr />

<div class="d-flex flex-row justify-content-between mt-3">
    <div class="d-flex flex-row w-50">
        <input type="text" class="form-control w-100" id="zoekterm" oninput="zoekbalk()" placeholder="Zoeken..." />
    </div>
    <div>
        <a asp-action="Create" class="btn btn-primary">+ Toevoegen</a>
    </div>
</div>
<div class="mt-2">
<table class="table table-striped" id="categoryTable">
    <thead class="table-dark">
        <tr>
            <th>
                    ID ▾
            </th>
            <th>
                Naam
            </th>
            <th>
                Beschrijving
            </th>
            <th class="text-center">
                Aantal Producten
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.Id
            </td>
            <td>
                @item.Name
            </td>
            <td>
                @item.Description
            </td>
            <td class="text-center">
                @item.Products.Count
            </td>
            <td>
						<a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">
							<img src="~/img/bin.png" width="25px" height="25px" />
						</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
<script src="~/js/site.js"></script>