@model IEnumerable<DataAccessLayer.Models.Category>

@{
    ViewData["Title"] = "Index";
}

@TempData["SuccessMessage"]


<p>
    <a asp-action="Create">+ Toevoegen</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Naam
            </th>
            <th>
                Beschrijving
            </th>
            <th>
                Aantal Producten
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Products.Count)
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@item.Id">Verwijderen</a>
            </td>
        </tr>
}
    </tbody>
</table>
